@media (min-width: 1280px) {
      body {background-color: white;
        margin: 0;
        padding: 0;}

      #cap{width: 100%;
          height: auto;
          background-color: rgb(61, 61, 61);
          color: white;
          overflow: hidden;
          padding-bottom: 15px;
          position: fixed;}
      #cap ul {width: 90%;
              margin: 0 auto;
              padding: 0;
              display: block;
              text-align: center;}
      #cap ul li {margin: 5px;
                  width: 20%;
                  display: inline;
                  border: solid 1px #FFF;
                  padding: 5px;}
      h1 {text-align: center;
          margin-top: 0;}


      #cos {width: 80%;
            background-color: purple;
            overflow: hidden;
            padding-top: 90px;
            float: left;}
      #cos ul {margin: 0;
              padding:0;}
      #cos ul li {margin: 0.5%;
                  background-color: rgb(233, 145, 244);
                  text-align: center;
                  float: left;
                  height: 130px;
                  width: 23.4%;}


      #menu {width: 20%;
            height: 600px;
            background-color: rgb(233, 145, 244);
            overflow: hidden;
            padding-top: 90px}
      #menu ul {margin: 0;
              padding:0;}
      #menu ul li {margin: 10px 13px;
                  background-color: purple;
                  text-align: center;
                  display: block;
                  height: 20px;}


      #peu {height: 50px;
            background-color: rgb(61, 61, 61);
            margin: 0;
          clear: both;}
      }
