#primer{width: 80%; height: 100px; background-color: red;}
#segon{width: 50%; height: 400px; background-color: blue; float: right;}
#tercer{width: 30%; height: 400px; background-color: green;}
#quart{width: 80%; height: 100px; background-color: yellow;}
